:root {
  /*___________________________________________________________Studio*/
  --hero-bg-color: #2e2f42;
  --head-color: #2e2f42;
  --content-color: #434455;
  /*________________________________________________________PORTFOLIO*/
  --color-body: #434455;
  --bg-color: #ffffff;
  /*_____________________________________________________________LOGO*/
  --color-logo: #4d5ae5;
  --color-logo-studio: #2e2f42;
  --footer-logo-color: #f4f4fd;
  /*_________________________________________________________NAV MENU*/
  --color-nav-default: #2e2f42;
  /*___________________________________________________________ADRESS*/
  --color-address-link-default: #434455;
  /*__________________________________________________________BUTTONS*/
  --button-color: #4d5ae5;
  /*__________________________________________________________Footer*/
  --social-link-bg-color: #4d5ae5;
  --fill-color: #f4f4fd;
  /*__________________________________________________________Customers*/
  --customer-color: #8e8f99;
  /*__________________________________________________________Projects*/
  --tr-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-duration: 0.25s;
  /*__________________________________________________________FORM*/
  --paragraph-color: #2e2f42;
  --toptext: #8e8f99;
  --checked: #404bbf;
}
